<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Variable properties -->
    <Properties>
        <Property name="log_path">${sys:catalina.home}/logs/zcrTest/</Property>
    </Properties>

    <!-- Appender configuration -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
        </Console>
        <RollingFile name="DailyRollingFile" fileName="target/tmp/zcrTest.log"
            filePattern="target/tmp/zcrTest%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
            <TimeBasedTriggeringPolicy  interval="1"/>
　　　　　　　<SizeBasedTriggeringPolicy size="10 MB" />

        </RollingFile>
    </Appenders>
    <Loggers>
 　　　　<Logger name="mylog" level="trace" additivity="false">
 　　　　　　<AppenderRef ref="DailyRollingFile" />
 　　　　</Logger>
 <Root level="all">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>

        <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>src/main/resource/log4j2.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>


</Configuration>
